.navbar-items {
    background: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.fa-cart-shopping-fast {
    font-size: 1.6rem;
    color: black;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
    
}